.call-to-action {
  position: relative;
  z-index: 9;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .call-to-action {
    padding-top: 90px;
    padding-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .call-to-action {
    padding-top: 70px;
    padding-bottom: 80px;
  }
}
.call-to-action::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(117, 78, 249, 0.7);
  z-index: -1;
}

.call-action-content .action-title {
  font-size: 45px;
  font-weight: 700;
  color: #fff;
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  .call-action-content .action-title {
    font-size: 30px;
  }
}
.call-action-content p {
  color: #fff;
  padding-bottom: 25px;
}
.call-action-content ul li {
  display: inline-block;
  margin: 10px 15px 0;
}
.call-action-content ul li .main-btn {
  width: 180px;
  padding: 0;
}
.call-action-content ul li .main-btn.custom {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #fff;
  color: #754ef9;
  border-color: #fff;
}
.call-action-content ul li .main-btn.custom:hover {
  background-color: #754ef9;
  color: #fff;
  border-color: #754ef9;
}
.call-action-content ul li .main-btn.custom-2 {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}
.call-action-content ul li .main-btn.custom-2:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  border-color: #fff;
}
