.pmovie {
  .q-card {
    &__section {
      .text-h6 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        height: 3rem;
      }
      .text-subtitle2 {
        height: 1.5rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &:hover {
          // overflow: none;
          white-space: unset;
          text-overflow: unset;
          // height: 3rem;
          overflow: unset;
          cursor: grab;
        }
      }
    }
  }
}
