.q-card {
  &__section {
    .text-h6 {
      height: 4rem;
    }
    .text-subtitle2 {
      height: 2.75rem;
    }
  }
}
.blogs {
  .q-card {
    &__section {
      .text-h6 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        height: 3rem;
      }
      .text-subtitle2 {
        height: 2rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        // &:hover {
        //   // overflow: none;
        //   white-space: unset;
        //   text-overflow: unset;
        //   // height: 3rem;
        //   overflow: unset;
        //   // cursor: grab;
        // }
      }
    }
  }
}
