.section {
  &--title {
    color: $light-blue;
    font-size: 36px;
    font-weight: 400;
    &::after {
      content: "";
      display: block;
      width: 60px;
      height: 8px;
      background-color: $light-blue-3;
      margin: 23px 0 0 0;
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      font-size: 30px;
    }
  }
}
