// Import Quasar Style
@import "./quasar.variables.scss";
@import "~quasar-styl";
@import "~quasar-addon-styl";
// Import element
@import "./elements/button";
@import "./elements/padding";
@import "./elements/thumbnail";

@import "./components/qitem";
@import "./components/header";
@import "./components/footer";
@import "./components/qtimeline";
@import "./components/section";
@import "./components/qprogress";
@import "./components/body";
@import "./components/chatbox";
@import "./components/qcard";

@import "./pages/home";
@import "./pages/about";
@import "./pages/blogs";
@import "./pages/signup";
@import "./pages/signin";
@import "./pages/practice";

.fixed-top-custom {
  z-index: 99999;
}
